nav {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}
* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#welcome {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}

#add-campus {
  width: 100%;
}

#add-student {
  width: 100%;
}

.widgets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  margin: 50px;
  align-items: center;
}
img {
  width: 900px;
  border-radius: 50%;
}

a > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-student {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#add-campus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-submit {
  display: flex;
  flex-direction: row;
}

.singular {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
